{% extends "base.html" %}
{% load tags utils %}

{% block meta_title %}{{ therapist.name }}, {{ therapist.practice.name }} à {{ therapist.city }}{% endblock %}

{% block meta_description %}{{ therapist.name }} est thérapeute agréé {{ therapist.agreements|join:', ' }} en {{ therapist.practice.name }} à {{ therapist.city }}.
{{ therapist.description|truncatechars:150 }}{% endblock %}

{% block body_id %}therapist-page{% endblock %}

{% block content %}
<article>
  <div>
    <section id=identity>
      {% avatar therapist %}
      <h1>{{ therapist.practice.name }} à {{ therapist.city }}</h1>
      <h2>{{ therapist }}</h2>
      <p>
        {% for practice in therapist.practices.all %}
          <span class=tag title="{{ practice.name }} à {{ therapist.city }}">{{ practice.name }}</span>
        {% endfor %}
      </p>
      <p id=agreements title="{{ therapist.practice.name }} agréé {{ therapist.agreements|join:', ' }}">Thérapeute professionnel
        {% if therapist.agreements %}agréé {{ therapist.agreements|join:', ' | upper }}
        {% else %}diplomé
        {% endif %}
      </p>
    </section>

    <section>
      <h2>À propos</h2>
      <p>
        {{ therapist.description|markdown }}
      </p>
      {% if therapist.languages %}
      <p>
        {{ therapist }} parle {{ therapist.languages_verbose | join:', ' }}
      </p>
      {% endif %}
    </section>

    {% if therapist.price %}
    <section>
      <h2>Paiement</h2>
      {{ therapist.price }}
      <p>Moyens de paiement : {{ therapist.payment_types|join:', ' }}</p>
    </section>
    {% endif %}

    {% if therapist.timetable %}
    <section>
      <h2>Horaires</h2>
      {{ therapist.timetable }}
    </section>
    {% endif %}

    {% for office in therapist.offices.all %}
    <section>
      <h2>Cabinet de {{ therapist.practice.name }} à {{ office.city }}</h2>
      <address>
        {{ office.street }}<br>
        {{ office.zipcode }} {{ office.city }}
      </address>
      <div class="map" latlng="{{ office.coordinates | join:',' }}" zoom="9"></div>
    </section>

    {% if office.pictures.first %}
    <section>
      <h2>Le cabinet</h2>
      {% for picture in office.pictures.all %}
      <img src={{ picture }} height=200>
      {% endfor %}
    </section>
    {% endif %}
    {% endfor %}
  </div>

  <aside>
    <ul>
      {% if therapist.website %}
      <li><i class="fa fa-desktop"></i> <a href={{ therapist.website }} target=_blank>Site web</a></li>
      {% endif %}
      {% if therapist.facebook %}
      <li><i class="fab fa-facebook-square"></i> <a href={{ therapist.facebook }} target=_blank>Page Facebook</a></li>
      {% endif %}
    </ul>

    <ul id=contactInfos class=hidden>
      <li><a href="tel:{{ therapist.phone }}" title="Contacter {{ therapist }} par téléphone"><i class="fa fa-phone fa-flip-horizontal"></i> {{ therapist.phone }}</a></li>
      <li><i class="fa fa-envelope"></i> <a href="mailto:{{ therapist.email }}" title="Contacter {{therapist}} par email">Envoyer un email</a></li>
    </ul>
    <button class=primary id=contactButton><i class="fa fa-phone fa-flip-horizontal"> </i> Contacter</button>
    {% if therapist.calendly_url %}
    <button class="primary" id="reserveButton"><i class="fa fa-calendar"></i> Réserver</button>
    {% endif %}
    <!-- <a class=button href={{ request.path }}vcf><i class="far fa-address-card"></i> Télécharger la vCard</a> -->
  </aside>
</article>

<!-- Modal Calendly -->
<div id="calendlyModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="calendlyWidget"></div>
  </div>
</div>

<style>
  article {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 1px 3px rgba(188, 188, 188, .3);
  }
  article > div {
    flex-grow: 1;
  }

  #agreements {
    font-size: .8rem;
  }

  section:not(:last-of-type) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  aside {
    min-width: 300px;
  }

  .map {
    width: 100%;
    height: 300px;
  }

  #identity .avatar {
    float: right;
    margin: 0 1rem 1rem;
    height: 300px;
  }
  .avatar img {
    max-height: 100%;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
    margin-bottom: .5rem;
  }
  .hidden {
    display: none;
  }
  #contactButton {
    width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  aside {
    margin-left: 2rem;
  }
  aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  aside button,
  aside .button {
    margin-top: 1rem;
    width: 100%;
  }

  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    height: 80vh;
    position: relative;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #calendlyWidget {
    height: calc(100% - 40px);
    margin-top: 20px;
  }

  #reserveButton {
    margin-top: 1rem;
  }
</style>

{# After CSS for map sizing reasons #}
<script>
  document.querySelectorAll('.map').forEach((elem) => {
    const latlng = elem.getAttribute('latlng').split(',')
    const zoom = elem.getAttribute('zoom')
    const map = initMap(elem, latlng, zoom)
    const marker = L.marker(latlng).addTo(map)

    document.querySelector('#contactButton').addEventListener('click', () => {
      document.querySelector('#contactInfos').classList.remove('hidden')
    })
  })

  {% if therapist.calendly_url %}
  // Calendly integration
  const modal = document.getElementById("calendlyModal");
  const btn = document.getElementById("reserveButton");
  const span = document.getElementsByClassName("close")[0];
  
  btn.onclick = function() {
    modal.style.display = "block";
    Calendly.initInlineWidget({
      url: '{{ therapist.calendly_url }}',
      parentElement: document.getElementById('calendlyWidget'),
    });
  }
  
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  {% endif %}
</script>

<!-- Calendly inline widget -->
<script src="https://assets.calendly.com/assets/external/widget.js" async></script>
{% endblock %}
