{% import './avatar.html' as macro %}

{% macro therapist_card(therapist) %}
  <article class="therapist-card" id="{{ therapist.id }}">
    <h1>{{ therapist.name }}</h1>
    {{ macro.avatar(therapist, therapist.name + ' : thérapeute à ' + therapist.city) }}
    <div>
      <p>{{ therapist.city }}</p>
      <div class=therapies-list>
        {% if therapists[0].name %}
        {% for therapy in therapist.therapies %}
          <a class=therapy href=/therapeutes/{{ therapy.slug }}{{ queryParams }} title="Les thérapeutes en {{ therapy.name }}">{{ therapy.name }}</a>
        {% endfor %}
        {% endif %}
      </div>
      <p class=description>{{ therapist.description | truncate(120) }}</p>
    </div>
    <footer>
      {% for agreement in therapist.agreements %}
      <span class=tag title="{{ therapist.therapy.name }} agréé {{ agreement }}">{{ agreement | upper }}</span>
      {% endfor %}
    </footer>
    <a class=card-link href={{ therapist.url }} title="{{ therapist.name }} est {# therapist.therapies_name | join(', ') #} à {{ therapist.city }}">Voir ce {{ therapist.therapies[0].name }} à {{ therapist.city }}</a>
  </article>
{% endmacro %}
